<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>
    <label>第1组</label>
    <input class="text-input" type="text"  name="g1"/>
</p>


<form action="__URL__/teachergroupinput" method="POST">
    <p>
        <label>第1组</label>
        <input class="text-input" type="text"  name="g1"/>
    </p>
    <p>
        <label>第2组</label>
        <input class="text-input" type="text"  name="g2"/>
    </p>
    <p>
        <label>第3组</label>
        <input class="text-input" type="text"  name="g3"/>
    </p>
    <p>
        <label>第4组</label>
        <input class="text-input" type="text"  name="g4"/>
    </p>
</form>
</body>
</html>