<!DOCTYPE html>
<head>
	<meta content="text/html;charset:utf-8">
	<title>Bootstrap 实例 - 标签式的导航菜单</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		.borderj{
			border:4px solid blue;
			background-color:#eee;
			display:inline-block;
		}
	</style>
</head>

<body>
	<div class="container">
	<blockquote>jkshfdjhjskdhf黑色的空间发挥卷卡式带付款就好数据库
	</blockquote>
		<div class="well">您好，我在 Well 中！</div>
		<p>标签式的导航菜单</p>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">菜鸟教程</a>
			</div>
			<div>
				<ul class="nav navbar-nav ">
					<li class="active"><a href="#">Home</a></li>
					<li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Java <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
						<li><a href="#">Swing</a></li>
						<li><a href="#">jMeter</a></li>
						<li><a href="#">EJB</a></li>
						<li class="divider"></li>
						<li><a href="#">分离的链接</a></li>
					  </ul>
					</li>
					<li class="disabled"><a href="#">SVN</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> iOS</a></li>
					<li><a href="#">VB.Net</a></li>
					<li><a href="#">Java</a></li>
					<li><a href="#">PHP</a></li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">提交</button>
				</form>
			</div>
		</nav>
		<br>
		<div style="border:4px solid red;height:30px;position:relative;padding-top:-4px">
			<div class="borderj" >
				home
			</div>
			<div class="borderj">
				home
			</div>
			<div class="borderj">
				home
			</div>
		</div>

		<h2>创建模态框（Modal）</h2>
		<!-- 按钮触发模态框 -->
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			开始演示模态框
		</button>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							模态框（Modal）标题
						</h4>
					</div>
					<div class="modal-body">
						在这里添加一些文本
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="button" class="btn btn-primary">
							提交更改
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
	</div>

	<ul class="list-group">
		<li class="list-group-item">免费域名注册</li>
		<li class="list-group-item">免费 Window 空间托管</li>
		<li class="list-group-item">图像的数量</li>
		<li class="list-group-item">
			<span class="badge">新</span>
			24*7 支持
		</li>
		<li class="list-group-item">每年更新成本</li>
		<li class="list-group-item">
			<span class="badge">新</span>
			折扣优惠
		</li>
	</ul>





</body>
